@import url("reset.css");
* {
	color: gray;
}

p {
	color: black;
}

ul > li {
	color: blue
}

.dish-2 {
	color: orange;
}

[class*="aft"] {
 color: green;
}

#section-05 {
	color: yellow;
}

.dish-6 p {
	color: blueviolet;
}

.preamble + p {
	color: red;
}

.afterword ~ p {
	color: brown;
}