@font-face {
	font-family: "Skrine";
	src: url("../fonts/Skrine.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PFD";
	src: url("../fonts/PFDinTextCondPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}